{% extends "base.twig" %}

{% block title %}{% if edit %}Muuda gruppi{% else %}Uus grupp{% endif %}{% endblock %}

{% block content %}
    <h2>Kaardi {% if edit %}muutmine{% else %}lisamine{% endif %}</h2>
    {% if general_error %}
        <div class="error-msg">
            {{ general_error }}
        </div>
    {% endif %}

    <div class="p-4">
        <form method="post" action="{{ post_url }}">
            {% if edit %}
                <input type="hidden" id="id" name="id" value="{{ card.id }}">
            {% endif %}
            <input type="hidden" id="users_api_url" value="{{ users_api_url }}">
            <div class="mb-3">
                <label for="visible_nr" class="form-label">Visuaalne nr.</label>
                <input type="text" class="form-control" name="visible_nr"
                id="visible_nr"{% if card.visible_nr %} value="{{ card.visible_nr }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="scannable_nr" class="form-label">Kaardi nr.</label>
                <input type="text" class="form-control" name="scannable_nr"
                       id="scannable_nr" {% if card.scannable_nr %} value="{{ card.scannable_nr }}"{% endif %} required>
                {% if scannable_nr_error %}
                <div class="error-msg">
                    {{ scannable_nr_error }}
                </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="user_select" class="form-label">Kasutaja</label>
                    <select class="form-select user-select-ajax" id="user_select" name="card_user_id">
                        {% if users %}
                            {% for user in users %}
                                <option value="{{ user.id }}" {% if card.app_user == user.id %}selected="selected"{% endif %}>
                                    {{ user.user_name }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>
            </div>

            <div class="mb-3">
                <label for="starting_from" class="form-label">Alates</label>
                <input type="date" class="form-control" name="starting_from"
                       id="starting_from"{% if card.starting_from %} value="{{ card.starting_from }}"{% endif %}>
                {% if starting_from_error %}
                    <div class="error-msg">
                        {{ starting_from_error }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="valid_until" class="form-label">Kuni</label>
                <input type="date" class="form-control" name="valid_until"
                       id="valid_until"{% if card.valid_until %} value="{{ card.valid_until }}"{% endif %}>
            </div>
            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-primary" type="submit">Salvesta</button>
            </div>
        </form>
    </div>
{% endblock %}