{% extends "base.twig" %}

{% block title %}Kaardid{% endblock %}

{% block content %}
    <h2>Kaardid</h2>

    <form>
        <p>
            <input type="hidden" id="cards_api_url" value="{{ cards_api_url }}">
            <label for="q" class="sr-only">Otsi</label>
            <input class="card_search" type="text" id="q" name="q" placeholder="Otsi" onkeyup="searchCards(this.value, {{ current_page }})">
        </p>

        <a href="{{ create_url }}">Lisa uus</a>
        <table class="table table-hover table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">Visuaalne nr.</th>
                <th scope="col">Kaardi nr.</th>
                <th scope="col">Alates</th>
                <th scope="col">Kuni</th>
                <th scope="col">Eesnimi</th>
                <th scope="col">Perekonnanimi</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="cards-data">
                {% if cards %}
                    {% for card in cards %}
                        <tr>
                            <td>{{ card.visible_nr }}<input name="id" type="hidden" value="{{ card.id }}"></td>
                            <td>{{ card.scannable_nr }}</td>
                            <td>{{ card.starting_from }}</td>
                            <td {% if card.is_card_expired %}class="error-msg"{% endif %}>{{ card.valid_until }}</td>
                            <td {% if card.is_user_deleted %}class="error-msg"{% endif %}>{{ card.first_name }}</td>
                            <td {% if card.is_user_deleted %}class="error-msg"{% endif %}>{{ card.last_name }}</td>
                            <td><a href="{{ card.edit_url }}">Muuda</a>&nbsp; <a href="{{ card.delete_url }}">Kustuta</a> </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% if nr_of_pages > 1 %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% set counter = 1 %}
                    <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="#" aria-label="Eelmine">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for nr in 1..nr_of_pages %}
                        <li class="page-item {% if current_page == counter %}active{% endif %}">
                            <a class="page-link" href="{{ nr }}">{{ nr }}</a>
                        </li>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                    <li class="page-item {% if current_page == counter %}disabled{% endif %}">
                        <a class="page-link" href="#" aria-label="Eelmine">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </form>
{% endblock %}