{% extends "base.twig" %}

{% block title %}{% if edit %}Muuda gruppi{% else %}Uus grupp{% endif %}{% endblock %}

{% block content %}
    <h2>Grupi {% if edit %}muutmine{% else %}lisamine{% endif %}</h2>
    {% if general_error %}
        <div class="error-msg">
            {{ general_error }}
        </div>
    {% endif %}
    <div class="p-4">
        <form method="post" action="{{ post_url }}" novalidate>
            {% if edit %}
                <input type="hidden" id="group_id" name="group_id" value="{{ group_id }}">
            {% endif %}
            <input type="hidden" id="users_api_url" value="{{ users_api_url }}">
            <div class="mb-3">
                <label for="group_name" class="form-label">Grupi nimi</label>
                <input type="text" class="form-control" name="group_name"
                       id="group_name"{% if group_name %} value="{{ group_name }}"{% endif %}>
                {% if group_name_error %}
                <div class="error-msg">
                    {{ group_name_error }}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="starting_from" class="form-label">Alates</label>
                <input type="date" min="{{ first_date }}" max="{{ last_date }}" class="form-control" name="starting_from"
                       id="starting_from"{% if starting_from %} value="{{ starting_from }}"{% endif %}>
                {% if starting_from_error %}
                    <div class="error-msg">
                        {{ starting_from_error }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="valid_until" class="form-label">Kuni</label>
                <input type="date" min="{{ first_date }}" max="{{ last_date }}" class="form-control" name="valid_until"
                       id="valid_until"{% if valid_until %} value="{{ valid_until }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="teacher_select" class="form-label">Klassijuhatajad</label>
                <select class="form-control user-select-ajax" id="teacher_select" multiple="multiple"
                        name="teachers[]">
                    {% if teachers %}
                        {% for teacher in teachers %}
                            <option value="{{ teacher.id }}" selected="selected">{{ teacher.user_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <label for="student_select" class="form-label">Sööjad</label>
                <select class="form-control user-select-ajax" id="student_select" multiple="multiple"
                        name="students[]">
                    {% if students %}
                        {% for student in students %}
                            <option value="{{ student.id }}" selected="selected">{{ student.user_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <label for="sort_order" class="form-label">Jrk. nr (gruppide järjekorra määramiseks eri kohtades)</label>
                <input type="text" class="form-control" name="sort_order"
                       id="sort_order"{% if sort_order %} value="{{ sort_order }}"{% endif %}>
                {% if sort_order_error %}
                    <div class="error-msg">
                        {{ sort_order_error }}
                    </div>
                {% endif %}
            </div>
            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-primary" type="submit">Salvesta</button>
            </div>
        </form>
    </div>
{% endblock %}