{% extends "base.twig" %}

{% block title %}Grupid{% endblock %}

{% block content %}
    <h2>Grupid</h2>
    <a href="{{ create_url }}">Lisa uus</a>
    <table class="table table-hover table-sm">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nimi</th>
            <th scope="col">Alates</th>
            <th scope="col">Kuni</th>
            <th scope="col">Sööjad</th>
            <th scope="col">Kl. juh</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if groups %}
            {% set counter = 1 %}
            {% for group in groups %}
                <tr>
                    <th scope="row"><input name="id" type="hidden" value="{{ group.id }}">{{ counter }}.</th>
                    <td>{{ group.group_name }}</td>
                    <td>{{ group.starting_from }}</td>
                    <td>{{ group.valid_until }}</td>
                    <td>{{ group.nr_of_eaters }}</td>
                    <td>{{ group.nr_of_teachers }}</td>
                    <td><a href="{{ group.edit_url }}">Muuda</a> </td>
                </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}