{% extends "base.twig" %}

{% block title %}{% if edit %}Muuda söögikorda{% else %}Uus söögikord{% endif %}{% endblock %}

{% block content %}
    <h2>Söögikorra {% if edit %}muutmine{% else %}lisamine{% endif %}</h2>
    {% if general_error %}
        <div class="error-msg">
            {{ general_error }}
        </div>
    {% endif %}
    <div class="p-4">
        <form method="post" action="{{ post_url }}">
            {% if edit %}
                <input type="hidden" id="meal_type_id" name="meal_type_id" value="{{ mealType.getId }}">
            {% endif %}
            <input type="hidden" id="groups_api_url" value="{{ groups_api_url }}">
            <div class="mb-3">
                <label for="meal_type_name" class="form-label">Nimi</label>
                <input type="text" class="form-control" name="meal_type_name"
                       id="meal_type_name"{% if mealType.getName %} value="{{ mealType.getName }}"{% endif %}>
                {% if mealType.getMealTypeNameError %}
                    <div class="error-msg">
                        {{ mealType.getMealTypeNameError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <fieldset class="form-group">
                    <legend class="col-form-label col-sm-2 pt-0">Nädalapäevad</legend>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="monday">E</label>
                            <input class="form-check-input" type="checkbox" name="business_days[]"
                                   id="monday" value="1" {% if mealType.isDayEnabled(1) %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="tuesday">T</label>
                            <input class="form-check-input" type="checkbox" id="tuesday" value="2" name="business_days[]"
                                   {% if mealType.isDayEnabled(2) %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="wednesday">K</label>
                            <input class="form-check-input" type="checkbox" id="wednesday" value="3" name="business_days[]"
                                   {% if mealType.isDayEnabled(3) %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="thursday">N</label>
                            <input class="form-check-input" type="checkbox" id="thursday" value="4" name="business_days[]"
                                   {% if mealType.isDayEnabled(4) %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="friday">R</label>
                            <input class="form-check-input" type="checkbox" id="friday" value="5" name="business_days[]"
                                   {% if mealType.isDayEnabled(5) %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="saturday">L</label>
                            <input class="form-check-input" type="checkbox" id="saturday" value="6" name="business_days[]"
                                   {% if mealType.isDayEnabled(6) %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="sunday">P</label>
                            <input class="form-check-input" type="checkbox" id="sunday" value="7" name="business_days[]"
                                   {% if mealType.isDayEnabled(7) %}checked{% endif %}>
                        </div>
                    </div>
                </fieldset>
                {% if mealType.getBusinessDaysError %}
                    <div class="error-msg">
                        {{ mealType.getBusinessDaysError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="meal_time" class="form-label">Aeg</label>
                <input type="time" class="form-control" name="meal_time"
                       id="meal_time"{% if mealType.getMealTime %} value="{{ mealType.getMealTime }}"{% endif %}>
                {% if mealType.getMealTimeError %}
                    <div class="error-msg">
                        {{ mealType.getMealTimeError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="kitchen" class="form-label">Köök</label>
                <select name="kitchen" class="form-control" id="kitchen">
                    {% for kitchen in kitchens %}
                        <option value="{{ kitchen.id }}" {% if selected_kitchen == kitchen.id %}selected{% endif %}>
                            {{ kitchen.kitchen_name }}
                        </option>
                    {% endfor %}
                </select>
                {% if mealType.getKitchenError %}
                    <div class="error-msg">
                        {{ mealType.getKitchenError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="registration_cutoff" class="form-label">Piirang (tundides)</label>
                <input type="number" class="form-control" name="registration_cutoff" step="1" pattern="\d+"
                       id="registration_cutoff"{% if mealType.getRegistrationCutoff %} value="{{ mealType.getRegistrationCutoff }}"{% endif %}>
                {% if mealType.getRegistrationCutoffError %}
                    <div class="error-msg">
                        {{ mealType.getRegistrationCutoffError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="comments" class="form-label">
                    Kommentaar
                    <span data-bs-toggle="tooltip" data-bs-placement="right"
                          title="{{ comment_tooltip }}">
                        <i class="fa-regular fa-circle-question"></i></span>
                </label>
                <input type="text" class="form-control" name="comments"
                       id="comments"{% if mealType.getComments %} value="{{ mealType.getComments }}"{% endif %}>
                {% if mealType.getCommentsError %}
                    <div class="error-msg">
                        {{ mealType.getCommentsError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="group_select" class="form-label">Grupid</label>
                <select class="form-control group-select-ajax" id="group_select" multiple="multiple"
                        name="groups[]">
                    {% if groups %}
                        {% for group in groups %}
                            <option value="{{ group.id }}" selected="selected">{{ group.group_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-primary" type="submit">Salvesta</button>
            </div>
        </form>
    </div>
{% endblock %}