{% extends "base.twig" %}

{% block title %}Söögikorrad{% endblock %}

{% block content %}
    <h2>Söögikorrad</h2>
    <a href="{{ create_url }}">Lisa uus</a>
    <table class="table table-hover table-sm">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nimi</th>
            <th scope="col">Päevad</th>
            <th scope="col">Aeg</th>
            <th scope="col">Köök</th>
            <th scope="col">Piirang</th>
            <th scope="col">Kommentaar</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if meal_types %}
            {% set counter = 1 %}
            {% for meal_type in meal_types %}
                <tr>
                    <th scope="row">{{ counter }}</th>
                    <td>{{ meal_type.getName }}</td>
                    <td>{{ meal_type.getEnabledDaysStr }}</td>
                    <td>{{ meal_type.getMealTime }}</td>
                    <td>{{ meal_type.getKitchenName }}</td>
                    <td>{{ meal_type.getRegistrationCutoff }} h</td>
                    <td>{{ meal_type.getComments }}</td>
                    <td><a href="{{ meal_type.getEditUrl }}">Muuda</a> </td>
                </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}