{% extends "base.twig" %}

{% block title %}Kuupäeva erandid{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {% for meal_type in meal_types %}
                <h6><a href="{{ meal_type.url }}">{{ meal_type.name }}</a></h6>
            {% endfor %}
        </div>
        <div id="right-col">
            <h4>Kuupäeva erandid - {{ meal_name }}</h4>
            <form method="post" id="irregular-form" action="{{ post_url }}">
                <input type="hidden" name="meal_id" value="{{ meal_id }}">
                <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="arrow"><a href="{{ link_previous }}"><i class="fas fa-arrow-left"></i></a></th>
                        <th scope="col" colspan="5">{{ month_year }}</th>
                        <th scope="col" class="arrow"><a href="{{ link_next }}"><i class="fas fa-arrow-right"></i></a></th>
                    </tr>
                    <tr>
                        <th scope="col">E</th>
                        <th scope="col">T</th>
                        <th scope="col">K</th>
                        <th scope="col">N</th>
                        <th scope="col">R</th>
                        <th scope="col">L</th>
                        <th scope="col">P</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if irregulars %}
                        <input name="irregular_date" type="hidden" id="irr_date" value="{{ date }}">
                        {% set firstDay  = 1 %}
                        {% set counter = 1 %}
                        <tr>
                        {% if first_weekday > 1 %}
                            {% for i in 1..first_weekday - 1 %}
                                <td></td>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        {% endif %}

                        {% for key, value in irregulars %}
                            {% if counter == 1 %}<tr>{% endif %}
                            <td class="half-visible {% if value.in_future %}dates{% endif %} {% if value.is_enabled %}enabled-bg{% else %}disabled-bg{% endif %}"
                                id="cell_{{ key }}" data-total="{{ value.total }}">{{ key }}{% if value.total > 0 %}!{% endif %}
                                <input name="date_{{ key }}" type="hidden" id="date_{{ key }}" value="{{ value.is_enabled ? 1 : 0 }}">
                            </td>
                            {% set counter = counter + 1 %}
                            {% if counter - 1 == 7 %}
                                </tr>
                                {% set counter = 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <br>
                <div class="right">
                    <button type="button" id="btn-edit" class="btn btn-info" onclick="edit()">Muuda</button>
                    <button type="button" id="btn-cancel" class="hidden btn btn-info" onclick="cancel()">Tühista</button>
                    <button type="submit" id="btn-save" class="hidden btn btn-primary irregular-save-btn">Salvesta</button>
                </div>
            </form>
        </div>


    </div>
{% endblock %}