:root {
    --enabled-color: green;
    --disabled-color: red;
    --warning-color: orange;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
}

.content {
    margin: 0 0 0 0;
    background-color: #70798C;
    color: #071013;
    height: calc(100vh - 56px);
    overflow-y: scroll;
}

a {
    color: #23B5D3;
}

nav {
    padding-left: 15px;
}

.white-bg {
    background-color: white !important;
}

/* rows */
.table > tbody > tr >th, .table > tbody > tr > td {
    border: 1px solid black;
}

/* SIDENAV */
#wrapper {
    width: auto;
    margin: 0 auto;
    display: flex;
}

#left-col, #right-col {
    float: left;
    min-height: 450px;
}

#left-col {
    width: 110px;
    #background-color: darkgray;
    background-color: #70798C;
}

#left-col-wide {
    width: 150px;
    background-color: #70798C;
}

#right-col {
    width: auto;
    flex: 1;
}

#locked {
    width: 20px;
    height: 20px;
    color: red;
}

.disabled-bg {
    background-color: var(--disabled-color) !important;
}

.enabled-bg {
    background-color: var(--enabled-color) !important;
}

.warning-bg {
    background-color: var(--warning-color) !important;
}

.enabled-arrow {
    color: var(--enabled-color) !important;
}

.disabled-arrow {
    color: var(--disabled-color) !important;
}

.half-visible {
    opacity: 0.6 !important;
}

.hidden {
    display: none !important;
}

.right {
    float: right;
}

.left {
    float: left;
}

.meal_title {
    white-space: nowrap;
    overflow-x: auto;
}

.meal_title_item {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

.error-msg {
    color: red !important;
}

/* participation stuff */
.participation-ok { color: green; }
.participation-missing { color: black; }
.participation-noreg { color: orange; }
.participation-missing-noreg { color: darkgray; }

ul.horizontal, ul.horizontal li {
    margin: 0;
    padding: 0;
}

ul.horizontal {
    list-style-type: none;
    width:auto;
    overflow: auto;
    margin: 0;
    padding: 1px 0 0 1px;
}

ul.horizontal li {
    float: left;
    width: 200px;
    height: 30px;
    margin: 0 1px 1px 0;
}

.participation-width {
    max-width: 25em;
}

.top-padding-30 {
    padding-top: 30px !important;
}

.general-report {
    max-width: 400px;
}

.w-10 {
    width: 10%;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-disable {
    pointer-events: none;
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.user_search {
    width: 130px;
}

#search_results {
    position: fixed;
    border: 1px solid;
    width: 200px;
    background-color: white;
    display: none;
}

#search_results a {
    //margin-left: 5px;
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-top: none;
    text-decoration: none;
    color: black;
    //margin: 0;
    //padding: 0;
}

#search_results a:hover {
    background-color: aquamarine;
}

#import-area {
    width: 99%;
    font-family: monospace;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 11px;
}
