{% extends "base.twig" %}

{% block title %}Install{% endblock %}

{% block content %}
    <h2>Install</h2>
    {% if general_error %}
        <div class="error-msg">
            {{ general_error }}
        </div>
    {% endif %}
    <div class="p-4">
        <form method="post" action="{{ post_url }}">
            <h4>Andmebaasi seaded</h4>
            <div class="row mb-3">
                <label for="db_user" class="col-sm-2 col-from-label">Kasutaja</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="db_user"
                           id="db_user"{% if db_user %} value="{{ db_user }}"{% endif %} required>
                </div>
                {% if db_user_error %}
                    <div class="error-msg">
                        {{ db_user_error }}
                    </div>
                {% endif %}
            </div>
            <div class="row mb-3">
                <label for="db_pass" class="col-sm-2 col-from-label">Parool</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="db_pass"
                           id="db_pass"{% if db_pass %} value="{{ db_pass }}"{% endif %} required>
                </div>
                {% if db_pass_error %}
                    <div class="error-msg">
                        {{ db_pass_error }}
                    </div>
                {% endif %}
            </div>
            <div class="row mb-3">
                <label for="db_name" class="col-sm-2 col-from-label">Andmebaasi nimi</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="db_name"
                           id="db_name"{% if db_name %} value="{{ db_name }}"{% endif %} required>
                </div>
                {% if db_name_error %}
                    <div class="error-msg">
                        {{ db_name_error }}
                    </div>
                {% endif %}
            </div>
            <div class="row mb-3">
                <label for="db_server" class="col-sm-2 col-from-label">Server</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="db_server"
                           id="db_server"{% if db_server %} value="{{ db_server }}"{% endif %} required>
                </div>
                {% if db_server_error %}
                    <div class="error-msg">
                        {{ db_server_error }}
                    </div>
                {% endif %}
            </div>
            <br>
            <h4>Muud seaded</h4>
            <div class="row mb-3">
                <label for="session_prefix" class="col-sm-2 col-from-label align-self-center">
                    Sess. eesliide <span data-bs-toggle="tooltip" data-bs-placement="right"
                                         title="{{ session_prefix_tooltip }}">
                        <i class="fa-regular fa-circle-question"></i></span>
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="session_prefix" name="session_prefix"
                            {% if session_prefix %} value="{{ session_prefix }}"{% endif %}>
                </div>
                {% if session_prefix_error %}
                    <div class="error-msg">
                        {{ session_prefix_error }}
                    </div>
                {% endif %}
            </div>
            <div class="row mb-3">
                <label for="menu_url" class="col-sm-2 col-from-label align-self-center">
                    Menüü URL <span data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="{{ menu_url_tooltip }}">
                        <i class="fa-regular fa-circle-question"></i></span>
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="menu_url"
                           id="menu_url"{% if menu_url %} value="{{ menu_url }}"{% endif %}>
                </div>
            </div>
            <div class="row mb-3">
                <label for="site_subdir" class="col-sm-2 col-from-label align-self-center">
                    Alamkataloog <span data-bs-toggle="tooltip" data-bs-placement="right"
                                       title="{{ site_subdir_tooltip }}">
                        <i class="fa-regular fa-circle-question"></i></span>
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="site_subdir" name="site_subdir"
                            {% if site_subdir %} value="{{ site_subdir }}"{% endif %}>
                </div>
            </div>
            <div class="row mb-3">
                <fieldset class="form-group">
                    <legend class="col-form-label col-sm-2">
                        Ajapiiranguteta rollid <span data-bs-toggle="tooltip" data-bs-placement="right"
                                                     title="{{ unrestricted_roles_tooltip }}">
                        <i class="fa-regular fa-circle-question"></i></span>
                    </legend>
                    <div class="form-check form-check-inline align-middle">
                        <label class="form-check-label" for="edit_admin">Admin</label>
                        <input class="form-check-input" type="checkbox" name="edit_roles[]"
                               id="edit_admin" value="admin" {% if edit_admin %}checked{% endif %}>
                    </div>
                    <div class="form-check form-check-inline align-middle">
                        <label class="form-check-label" for="edit_observer">Vaatleja</label>
                        <input class="form-check-input" type="checkbox" name="edit_roles[]"
                               id="edit_observer" value="observer" {% if edit_observer %}checked{% endif %}>
                    </div>
                    <div class="form-check form-check-inline align-middle">
                        <label class="form-check-label" for="edit_cook">Kokk</label>
                        <input class="form-check-input" type="checkbox" name="edit_roles[]"
                               id="edit_cook" value="cook" {% if edit_cook %}checked{% endif %}>
                    </div>
                    <div class="form-check form-check-inline align-middle">
                        <label class="form-check-label" for="edit_hr_teacher">Klassijuhataja</label>
                        <input class="form-check-input" type="checkbox" name="edit_roles[]"
                               id="edit_hr_teacher" value="homeroom-teacher" {% if edit_hr_teacher %}checked{% endif %}>
                    </div>
                </fieldset>
            </div>
            <div class="row mb-3">
                <label for="auto_update_enabled" class="col-sm-2 form-check-label">
                    Automaatne uuendus <span data-bs-toggle="tooltip" data-bs-placement="right"
                                             title="{{ auto_update_tooltip }}">
                        <i class="fa-regular fa-circle-question"></i></span>
                </label>
                <div class="col-sm-10 form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="auto_update_enabled" name="auto_update_enabled"
                           value="1" {% if auto_update_enabled %}checked{% endif %}>
                </div>
            </div>
            <div class="row mb-3">
                <label for="participation_disabled" class="col-sm-2 form-check-label">
                    Kohalolukontroll <span data-bs-toggle="tooltip" data-bs-placement="right"
                                           title="{{ participation_tooltip }}">
                        <i class="fa-regular fa-circle-question"></i></span>
                </label>
                <div class="col-sm-10 form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="participation_disabled"
                           name="participation_disabled"
                           value="1" {% if participation_disabled %}checked{% endif %}>
                </div>
            </div>
            <br>
            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-primary" type="submit">Salvesta</button>
            </div>
        </form>
    </div>
{% endblock %}