{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {% for link in left_links %}
                <h6><a href="{{ link.url }}">{{ link.name }}</a></h6>
            {% endfor %}
        </div>
        <div id="right-col">
        <h4>{{ title }}</h4>
        {% set nr_of_days = business_days | length %}
        <table class="table table-hover table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">
                    {{ month_year }}
                </th>
                {% for day, name in business_days %}
                    <th scope="col" class="text-center">{{ day }}</th>
                {% endfor %}
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col" class="text-center">
                    <a class="left" href="{{ link_previous }}"><i class="fas fa-arrow-left"></i></a>
                    <a class="right" href="{{ link_next }}"><i class="fas fa-arrow-right"></i></a>
                    </th>
                {% for name in business_days %}
                    <th scope="col" class="text-center">{{ name }}</th>
                {% endfor %}
                <th scope="col" class="text-center">Kokku</th>
            </tr>
            </thead>
            <tbody>
            {% if meal_totals %}
                {% for kitchenMeal in meal_totals %}
                    <tr>
                        <td class="fw-bold">{{ kitchenMeal.kvName }}</td>
                        {% for day, nr_of_eaters in kitchenMeal.dates_sorted %}
                            <td class="text-center {% if is_current_month and day == current_day %}table-active{% endif %}">{{ nr_of_eaters }}</td>
                        {% endfor %}
                        <td class="text-center fw-bold ">{{ kitchenMeal.total }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="fw-bold">Kokku</td>
                    {% for day, total in col_totals %}
                        <td class="text-center fw-bold {% if is_current_month and day == current_day %}table-active{% endif %}">{{ total }}</td>
                    {% endfor %}
                    <td class="text-center fw-bold">{{ grand_total }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}