{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {% for group in groups %}
                <h6><a href="{{ group.url }}">{{ group.name }}</a></h6>
            {% endfor %}
        </div>
        <div id="right-col">
            <form method="post" action="{{ post_url }}">
                <div class="meal_title">
                    <h4 class="meal_title_item">{{ page_name }}</h4> &nbsp;
                    <button type="button" id="btn-edit" class="btn btn-info btn-sm meal_title_item"
                            onclick="edit()">Muuda
                    </button>
                    <button type="button" id="btn-cancel" class="hidden btn btn-info btn-sm meal_title_item"
                            onclick="cancel()">Tühista
                    </button>
                    <button type="submit" id="btn-save" class="hidden btn btn-danger btn-sm meal_title_item">
                        Salvesta
                    </button>
                </div>
                <input type="hidden" name="meal_type_id" value="{{ meal_type_id }}">
                <input type="hidden" name="group_id" value="{{ group_id }}">
                <input type="hidden" name="date" value="{{ date }}">
                {% if isMobile %}
                    {% if meal_type_comment %}
                        <div class="text-warning">
                            {{ meal_type_comment }}
                        </div>
                    {% endif %}
                    <table class="table table-hover table-sm">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col" class="text-center"><a href="{{ link_previous }}"><i
                                            class="fas fa-arrow-left"></i></a></th>
                            <th scope="col" class="text-center" colspan="5">{{ month_year }}</th>
                            <th scope="col" class="text-center"><a href="{{ link_next }}"><i
                                            class="fas fa-arrow-right"></i></a></th>
                        </tr>
                        <tr>
                            {% for day_name in all_daynames %}
                                <th scope="col" class="fixed-header text-center">{{ day_name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if users %}
                            {% set nameCounter = 1 %}
                            {% for user in users %}
                                {% set firstDay  = 1 %}
                                {% set counter = 1 %}
                                <tr>
                                    <td colspan="{{ number_of_weekdays + 2 }}" class="top-padding-30">
                                        {{ user.getFullname }}
                                        <button type="button" id="btn-select_all-{{ user.getId }}"
                                                class="disable-btn hidden btn btn-info btn-sm btn-select-all"
                                                onclick="selectMonthMobile(this);return false;">Vali kõik
                                        </button>

                                    </td>
                                </tr>
                            <tr class="{{ first_weekday }}">
                                {% if first_weekday_mobile > 1 %}
                                    {% for i in 1..first_weekday_mobile - 1 %}
                                        <td></td>
                                        {% set counter = counter + 1 %}
                                    {% endfor %}
                                {% endif %}

                                {% for meal in user.getMeals %}
                                    {% if counter == 1 %}<tr>{% endif %}
                                    {% if meal.isEnabled %}
                                        <td class="half-visible {% if (meal.getDay >= first_changeable_date and
                                            user.getDeletedAt == "") or can_edit %}dates user_{{ user.getId }}
                                                {% endif %} text-center {% if meal.isSelected %}enabled-bg
                                                {% else %}disabled-bg{% endif %}">
                                            {{ meal.getDay }}
                                            <input name="date_{{ user.getId }}_{{ meal.getDay }}"
                                                   id="date_{{ user.getId }}_{{ meal.getDay }}"
                                                   value="{{ meal.isSelected ? 1 : 0 }}" type="hidden">
                                        </td>
                                    {% else %}
                                        <td class="half-visible text-center">{{ meal.getDay }}</td>
                                    {% endif %}
                                    {% set counter = counter + 1 %}
                                    {% if counter - 1 == all_daynames | length %}
                                        </tr>
                                        {% set counter = 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                {% else %}
                    {% set nr_of_days = business_days | length %}
                    {% if meal_type_comment %}
                        <div class="text-warning">
                            {{ meal_type_comment }}
                        </div>
                    {% endif %}
                    <table class="table table-hover table-sm">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col" class="arrow text-center"><a href="{{ link_previous }}"><i
                                            class="fas fa-arrow-left"></i></a>
                            </th>
                            <th scope="col" class="text-center" colspan="{{ nr_of_days - 2 }}">{{ month_year }}</th>
                            <th scope="col" class="arrow text-center"><a href="{{ link_next }}"><i
                                            class="fas fa-arrow-right"></i></a>
                            </th>
                            <th scope="col" class="hidden arrow-col"></th>
                            <th scope="col">Kokku</th>
                        </tr>
                        <tr>
                            <th scope="col">Nr</th>
                            <th scope="col">Nimi</th>
                            {% for day, name in business_days %}
                                <th scope="col" class="col_{{ "%02d" | format(day) }} text-center">{{ name }}</th>
                            {% endfor %}
                            <th scope="col" class="hidden arrow-col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if users %}
                            {% set counter = 1 %}
                            {% for user in users %}
                                <tr class="meal-row">
                                    <td>{{ counter }}.</td>
                                    <td>{% if user.getDeletedAt is empty %}{{ user.getFullname }}{% else %}
                                            <s>{{ user.getFullname }}</s>{% endif %}
                                        <a href="{{ user.getHistoryUrl }}" class="text-red">
                                            <i class="fa-solid fa-clock-rotate-left"></i></a></td>
                                    {% for meal in user.getMeals %}
                                        {% if meal.isEnabled %}
                                            <td class="noselect day_{{ meal.getDay }} half-visible {% if (meal.getDay >= first_changeable_date and user.getDeletedAt == "") or can_edit %}
                            dates {% endif %}text-center {% if meal.isSelected %}enabled-bg{% else %}disabled-bg{% endif %}">
                                                {{ meal.getDay }}
                                                <input name="date_{{ user.getId }}_{{ meal.getDay }}"
                                                       id="date_{{ user.getId }}_{{ meal.getDay }}"
                                                       value="{{ meal.isSelected ? 1 : 0 }}" type="hidden">
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="toggle-row text-center enabled-arrow hidden arrow-col"><i
                                                class="fas fa-bold fa-long-arrow-alt-left hidden arrow-col"></i></td>
                                    <td class="text-center fw-bold row_total" id="total_{{ id }}">0</td>
                                    {% set counter = counter + 1 %}
                                </tr>
                            {% endfor %}
                            <tr class="hidden" id="arrow-row">
                                <td></td>
                                <td></td>
                                {% for day, name in business_days %}
                                    <td class="toggle-col toggle_day_{{ "%02d" | format(day) }} text-center enabled-arrow">
                                        <i class="fas fa-bold fa-long-arrow-alt-up hidden"></i>
                                    </td>
                                {% endfor %}
                                <td class="hidden arrow-col toggle-all text-center enabled-arrow"><i
                                            class="fas fa-solid fa-arrows-split-up-and-left"></i></td>
                                <td></td>
                            </tr>
                            <tr class="total-row">
                                <td></td>
                                <td>Kokku</td>
                                {% for day, name in business_days %}
                                    <td class="text-center fw-bold toggle-col"
                                        id="col_total_{{ "%02d" | format(day) }}">0
                                    </td>
                                {% endfor %}
                                <td class="hidden arrow-col"></td>
                                <td class="text-center fw-bold" id="grand-total"></td>
                            </tr>
                        {% else %}
                        {% endif %}
                        </tbody>
                    </table>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}