{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {% for meal_type in meal_types %}
                <h6><a href="{{ meal_type.url }}">{{ meal_type.name }}</a></h6>
            {% endfor %}
        </div>
        <div id="right-col">
            <form method="post" action="{{ post_url }}">
                <div class="meal_title">
                    <h4 class="meal_title_item">{{ page_name }}</h4> &nbsp;
                    <button type="button" id="btn-edit" class="btn btn-info btn-sm meal_title_item"
                            onclick="edit()">Muuda
                    </button>
                    <button type="button" id="btn-cancel" class="hidden btn btn-info btn-sm meal_title_item"
                            onclick="cancel()">Tühista
                    </button>
                    <button type="submit" id="btn-save" class="hidden btn btn-primary btn-sm meal_title_item">
                        Salvesta
                    </button>
                </div>
                <input type="hidden" name="meal_type_id" value="{{ meal_type_id }}">
                <input type="hidden" name="group_id" value="{{ group_id }}">
                <input type="hidden" name="date" value="{{ date }}">
                {% if meal_type_comment %}
                    <div class="text-warning">
                        {{ meal_type_comment }}
                    </div>
                {% endif %}
                <table class="table table-hover table-sm general-report">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center"><a href="{{ link_previous }}"><i
                                        class="fas fa-arrow-left"></i></a></th>
                        <th scope="col" class="text-center" colspan="5">{{ month_year }}</th>
                        <th scope="col" class="text-center"><a href="{{ link_next }}"><i
                                        class="fas fa-arrow-right"></i></a></th>
                    </tr>
                    <tr>
                        {% for day_name in all_daynames %}
                            <th scope="col" class="fixed-header text-center">{{ day_name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if users %}
                        {% set nameCounter = 1 %}
                        {% for user in users %}
                            {% set firstDay  = 1 %}
                            {% set counter = 1 %}
                        <tr class="{{ first_weekday }}">
                            {% if first_weekday_mobile > 1 %}
                                {% for i in 1..first_weekday_mobile - 1 %}
                                    <td></td>
                                    {% set counter = counter + 1 %}
                                {% endfor %}
                            {% endif %}

                            {% for meal in user.getMeals %}
                                {% if counter == 1 %}<tr>{% endif %}
                                {% if meal.isEnabled %}
                                    <td class="half-visible {% if (meal.getDay >= first_changeable_date and user.getDeletedAt == "") or can_edit %}
                                            dates user_{{ user.getId }}{% endif %} text-center {% if meal.isSelected %}
                                            enabled-bg{% else %}disabled-bg{% endif %}">
                                        {{ meal.getDay }}
                                        <input name="date_{{ user.getId }}_{{ meal.getDay }}"
                                               id="date_{{ user.getId }}_{{ meal.getDay }}"
                                               value="{{ meal.isSelected ? 1 : 0 }}" type="hidden">
                                    </td>
                                {% else %}
                                    <td class="half-visible text-center">{{ meal.getDay }}</td>
                                {% endif %}
                                {% set counter = counter + 1 %}
                                {% if counter - 1 == all_daynames | length %}
                                    </tr>
                                    {% set counter = 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <button type="button" id="btn-select_all-{{ user_id }}"
                        class="disable-btn hidden btn btn-info btn-sm btn-select-all"
                        onclick="selectMonthMobile(this);return false;">Vali kõik
                </button>
            </form>
        </div>
    </div>
{% endblock %}