{% extends "base.twig" %}

{% block title %}VIGA{% endblock %}

{% block content %}
    <h4>Viga!</h4>
    {% if error_msg is empty %}
        Midagi läks valesti!
    {% else %}
        {{ error_msg }}
    {% endif %}
{% endblock %}