<nav class="navbar navbar-expand-lg navbar-dark casual" style="background-color: green;">
    <a class="navbar-brand mr-auto mr-lg-0" href="{% if site_subdir %}{{ site_subdir }}{% endif %}">Canteen</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if links %}
                {% set counter = 0 %}
                {% for link in links %}
                    {% if link.name is defined %}
                        <li class="nav-item">
                            <a class="nav-link {% if page == link.page %}active{% endif %}" {% if link.blank %}target="blank"{% endif %} href="{{ link.url }}">{{ link.name }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">{% if counter == 0 %}Söögikorrad{% else %}Kohalolek{% endif %}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                {% for meal_type in link %}
                                    <a class="dropdown-item" href="{{ meal_type.url }}">{{ meal_type.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% set counter = counter + 1 %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>
