{% extends "base.twig" %}

{% block title %}Aruanne{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {% if meal_types %}
                {% for meal_type in meal_types %}
                    <h6><a href="{{ meal_type.url }}">{{ meal_type.name }}</a></h6>
                {% endfor %}
            {% endif %}
        </div>
        <div id="right-col">
            {% if groups %}
                <h4>{{ selected_mt_name }}</h4>
                {% for group in groups %}
                    <h4>{{ group.group_name }}</h4>
                    <table class="table table-hover table-sm general-report">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col" class="text-start"><a href="{{ link_previous }}"><i
                                            class="fas fa-arrow-left"></i></a></th>
                            <th scope="col" class="text-center" {% if participation_enabled %}colspan="3"{% endif %}>{{ month_year }}</th>
                            <th scope="col" class="text-end"><a href="{{ link_next }}"><i
                                            class="fas fa-arrow-right"></i></a></th>
                        </tr>
                        <tr>
                            <td class="w-10 text-center"></td>
                            <td class="w-50">Nimi:</td>
                            <td class="w-10 text-center">Reg.</td>
                            {% if participation_enabled %}
                            <td class="w-10 text-center">Kohal</td>
                            <td class="w-10 text-center">Puudu</td>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if group.users %}
                            {% set counter = 1 %}
                            {% for item in group.users %}
                                <tr>
                                    <td class="text-center">{{ counter }}</td>
                                    <td>{{ item.full_name }}</td>
                                    <td class="text-center">{{ item.registrations }}</td>
                                    {% if participation_enabled %}
                                    <td class="text-center">{{ item.participations }}</td>
                                    <td class="text-center {% if item.absent %}text-danger{% endif %}">{{ item.absent }}</td>
                                    {% endif %}
                                </tr>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                            <tr class="fw-bold">
                                <td class="text-center"></td>
                                <td>Kokku</td>
                                <td class="text-center">{{ group.total_reg }}</td>
                                {% if participation_enabled %}
                                <td class="text-center">{{ group.total_part }}</td>
                                <td class="text-center {% if group.total_absent %}text-danger{% endif %}">{{ group.total_absent }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <br>
                {% endfor %}
                <h4>Kokku</h4>
                <table class="table table-hover table-sm general-report">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-start"><a href="{{ link_previous }}"><i
                                        class="fas fa-arrow-left"></i></a></th>
                        <th scope="col" class="text-center" colspan="2">{{ month_year }}</th>
                        <th scope="col" class="text-end"><a href="{{ link_next }}"><i
                                        class="fas fa-arrow-right"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set grand_total = 0 %}
                    {% for kv in kitchen_views %}
                        <tr>
                            <td colspan="3">{{ kv.kitchen_view_name }}</td>
                            <td class="text-end">{{ kv.total }}</td>
                            {% set grand_total = grand_total + kv.total %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="fw-bold" colspan="3">KOKKU:</td>
                        <td class="fw-bold text-end">{{ grand_total }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                Ühtegi gruppi ei leitud!
            {% endif %}
        </div>
    </div>
{% endblock %}