{% extends "base.twig" %}

{% block title %}{% if edit %}Muuda köögi vaadet{% else %}Uus köögivaade{% endif %}{% endblock %}

{% block content %}
    <h2>Köögi vaate {% if edit %}muutmine{% else %}lisamine{% endif %}</h2>
    {% if general_error %}
        <div class="error-msg">
            {{ general_error }}
        </div>
    {% endif %}
    <div class="p-4">
        <form method="post" action="{{ post_url }}">
            {% if edit %}
                <input type="hidden" id="kitchen_view_id" name="id" value="{{ kitchenView.getId }}">
            {% endif %}
            <input type="hidden" id="groups_api_url" value="{{ groups_api_url }}">
            <div class="mb-3">
                <label for="kitchen_view_name" class="form-label">Nimi</label>
                <input type="text" class="form-control" name="kitchen_view_name"
                       id="kitchen_view_name"{% if kitchenView.getKitchenViewName %} value="{{ kitchenView.getKitchenViewName }}"{% endif %}>
                {% if kitchenView.getNameError %}
                    <div class="error-msg">
                        {{ kitchenView.getNameError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="meal-type" class="form-label">Söögikord</label>
                <select name="meal_type" class="form-control" id="meal-type">
                    {% for mealType in meal_types %}
                        <option value="{{ mealType.id }}" {% if selected_mealType == mealType.id %}selected{% endif %}>
                            {{ mealType.meal_type_name }}
                        </option>
                    {% endfor %}
                </select>
                {% if  kitcenView.getMealTypeError %}
                    <div class="error-msg">
                        {{ kitchenView.getMealTypeError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="starting_from" class="form-label">Alates</label>
                <input type="date" max="{{ last_date }}" class="form-control" name="starting_from"
                       id="starting_from"{% if kitchenView.getStartingFrom %} value="{{ kitchenView.getStartingFrom }}"{% endif %}
                       required>
                {% if kitchenView.getStartingFromError %}
                    <div class="error-msg">
                        {{ kitchenView.getStartingFromError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="valid_until" class="form-label">Kuni</label>
                <input type="date" min="{{ first_date }}" max="{{ last_date }}" class="form-control" name="valid_until"
                       id="valid_until"{% if kitchenView.getValidUntil %} value="{{ kitchenView.getValidUntil }}"{% endif %}>
                {% if kitchenView.getValidUntilError %}
                    <div class="error-msg">
                        {{ kitchenView.getValidUntilError }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="group_select" class="form-label">Grupid</label>
                <select class="form-control group-select-ajax" id="group_select" multiple="multiple"
                        name="groups[]">
                    {% if groups %}
                    {% for group in groups %}
                        <option value="{{ group.id }}" selected="selected">{{ group.group_name }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <label for="sort_order" class="form-label">Jrk. nr (järjekorra määramiseks eri kohtades)</label>
                <input type="text" class="form-control" name="sort_order"
                       id="sort_order"{% if kitchenView.getSortOrder %} value="{{ kitchenView.getSortOrder }}"{% endif %}>
                {% if kitchenView.getSortOrderError %}
                    <div class="error-msg">
                        {{ kitchenView.getSortOrderError }}
                    </div>
                {% endif %}
            </div>
            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-primary" type="submit">Salvesta</button>
            </div>
        </form>
    </div>
{% endblock %}