{% extends "base.twig" %}

{% block title %}Köögi vaated{% endblock %}

{% block content %}
    <h2>Köögi vaated</h2>
    <a href="{{ create_url }}">Lisa uus</a>
    <table class="table table-hover table-sm">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nimi</th>
            <th scope="col">Söögikord</th>
            <th scope="col">Alates</th>
            <th scope="col">Kuni</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if kitchen_views %}
            {% set counter = 1 %}
            {% for kitchen_view in kitchen_views %}
                <tr>
                    <td>{{ counter }}</td>
                    <td>{{ kitchen_view.getKitchenViewName }}</td>
                    <td>{{ kitchen_view.getMealTypeName }}</td>
                    <td>{{ kitchen_view.getStartingFrom }}</td>
                    <td>{{ kitchen_view.getValidUntil }}</td>
                    <td><a href="{{ kitchen_view.getEditUrl }}">Muuda</a></td>
                </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}