{% extends "base.twig" %}

{% block title %}Ajalugu{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {% for meal_type in meal_types %}
                <h6><a href="{{ meal_type.url }}">{{ meal_type.name }}</a></h6>
            {% endfor %}
        </div>
        <div id="right-col">
            <h4>Kohalkäimised - {{ user_full_name }}</h4>

            <th scope="col" class="text-center"><a href="{{ link_previous }}"><i
                            class="fas fa-arrow-left"></i></a></th>
            <th scope="col" class="text-center" colspan="5">{{ month_year }}</th>
            <th scope="col" class="text-center"><a href="{{ link_next }}"><i
                            class="fas fa-arrow-right"></i></a></th>

            {% if participations %}
                {% for meal_date, edits in participations %}
                    {% for edit_date, edit in edits %}
                        <div>
                            <span class="fw-bold">{{ meal_date }}</span>
                            : {% if edit.created %}lisas{% else %}eemaldas{% endif %} {{ edit.edited_by }}
                            ({{ edit_date }})
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <div>Kirjed puuduvad!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}