{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {% for group in groups %}
                <h6><a href="{{ group.url }}">{{ group.name }}</a></h6>
            {% endfor %}
        </div>
        <div id="right-col">
            <form method="post" action="{{ post_url }}">
                <div class="meal_title participations-page">
                    <h4 class="meal_title_item">{{ page_name }}</h4>
                    {% if can_edit %}
                        <button type="button" id="btn-edit" class="btn btn-info btn-sm meal_title_item"
                                onclick="edit()">Muuda
                        </button>
                        <button type="button" id="btn-cancel" class="hidden btn btn-info btn-sm meal_title_item"
                                onclick="cancel()">Tühista
                        </button>
                        <button type="submit" id="btn-save" class="hidden btn btn-primary btn-sm meal_title_item">
                            Salvesta
                        </button>
                    {% endif %}
                </div>
                <input type="hidden" name="meal_type_id" value="{{ meal_type_id }}">
                <input type="hidden" name="group_id" value="{{ group_id }}">
                <input type="hidden" name="date" value="{{ date }}">
                {% if isMobile %}
                {% else %}
                    {% set nr_of_days = business_days | length %}
                    <table class="table table-hover table-sm">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col" class="arrow text-center"><a href="{{ link_previous }}"><i
                                            class="fas fa-arrow-left"></i></a>
                            </th>
                            <th scope="col" class="text-center" colspan="{{ nr_of_days - 2 }}">{{ month_year }}</th>
                            <th scope="col" class="arrow text-center"><a href="{{ link_next }}"><i
                                            class="fas fa-arrow-right"></i></a>
                            </th>
                            <th scope="col">Kokku</th>
                        </tr>
                        <tr>
                            <th scope="col">Nr</th>
                            <th scope="col">Nimi</th>
                            {% for day, name in business_days %}
                                <th scope="col" class="col_{{ "%02d" | format(day) }} text-center">{{ name }}</th>
                            {% endfor %}
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if users %}
                            {% set counter = 1 %}
                            {% for user in users %}
                                <tr class="meal-row">
                                    <td>{{ counter }}.</td>
                                    <td>{{ user.getFullname }} <a href="{{ user.getHistoryUrl }}" class="text-red"><i
                                                    class="fa-solid fa-clock-rotate-left"></i></a></td>
                                    {% for meal in user.getMeals %}
                                        {% if meal.isEnabled %}
                                            <td class="noselect day_{{ meal.day }} half-visible {% if can_edit %}
                                                dates {% endif %}text-center
                                                {% if meal.isSelected and meal.didParticipate %}enabled-bg
                                                {% elseif meal.didParticipate and not meal.isSelected %}warning-bg
                                                {% elseif meal.isSelected and not meal.didParticipate %}disabled-bg
                                                {% else %}no-bg
                                                {% endif %}">
                                                {{ meal.getDay }}
                                                <input name="date_{{ user.getId }}_{{ meal.getDay }}"
                                                       id="date_{{ user.getId }}_{{ meal.getDay }}"
                                                       value="{% if meal.isSelected and meal.didParticipate %}1{% elseif meal.didParticipate and not meal.isSelected %}3{% elseif meal.isSelected and not meal.didParticipate %}0{% else %}2{% endif %}" type="hidden">
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="text-center fw-bold row_total" id="total_{{ id }}">0</td>
                                    {% set counter = counter + 1 %}
                                </tr>
                            {% endfor %}
                            <tr class="total-row">
                                <td></td>
                                <td>Kokku</td>
                                {% for day, name in business_days %}
                                    <td class="text-center fw-bold toggle-col"
                                        id="col_total_{{ "%02d" | format(day) }}">0
                                    </td>
                                {% endfor %}
                                <td class="text-center fw-bold" id="grand-total"></td>
                            </tr>
                        {% else %}
                        {% endif %}
                        </tbody>
                    </table>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}