{% extends "base.twig" %}

{% block title %}Kohalolu hetkel{% endblock %}

{% block content %}
    <div class="dropdown top-padding-30">
        <button class="btn btn-info dropdown-toggle" type="button" id="mtDropdownMenu"
                data-bs-toggle="dropdown">
            Söögikorrad<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% if meal_types %}
                {% for meal_type in meal_types %}
                    <li><a class="dropdown-item {% if meal_type.active %}active{% endif %}"
                           href="{{ meal_type.url }}">{{ meal_type.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div id="participations-now">
        {% if groups %}
            <h4>{{ meal_type_name }}</h4>
            <input type="hidden" id="participation_api_url" value="{{ participation_api_url }}">
            <input type="hidden" id="participation_api2_url" value="{{ participation_api2_url }}">
            <div>Nimi: <span id="name"></span></div>
            <div>Märkus: <span id="message"></span></div>
            <br>
            <div id="meal-data" data-mealtype="{{ meal_type_id }}" data-date="{{ date }}"></div>
            {% for group, participations in groups %}
                <h5>{{ group }}</h5>
                <ul class="horizontal fw-bold">
                    {% for participation in participations %}
                        <li class="participation-name cursor-pointer {{ participation.class }}"
                            data-status="{{ participation.status }}" id="{{ participation.app_user }}">
                            <span class="participation-icon">
                            {% if participation.status == 1 %}<i class="fa-solid fa-circle-question"></i>
                            {% elseif participation.status == 2 %}<i class="fa-solid fa-circle-check"></i>
                            {% elseif participation.status == 3 %}<i class="fa-solid fa-square-check"></i>
                            {% endif %}</span>
                            {{ participation.full_name }}
                        </li>
                    {% endfor %}
                </ul>
                <br>
            {% endfor %}
        {% else %}
            <h5>Ühtegi sööjat ei leitud!</h5>
        {% endif %}
    </div>
{% endblock %}