{% extends "base.twig" %}

{% block title %}Impordi{% endblock %}

{% block content %}
    <h2>Importimine</h2>
    <p>Tõmba alla importimise mall <a href="{{ template_url }}">siit</a>.</p>


    <p>
        Kui tegemist on AD kontoga (ja te ei taha, et kohaliku kontoga saaks sisse logida, siis jätke password lahter
        tühjaks CSV failis.
        Et saaks korraga lisada mitme grupi kasutajaid on CSV failis group_nr. Pange kõigile ühe grupi liikmetele sama
        number.
        Järgimses sammus (impordi andmete üle vaatamisel) saate määrata, et mis number millist gruppi tähendab (ehk
        numbrid võite ise välja mõelda - 1, 2, 3 näiteks).
    </p>
    {% if errors %}
        {% for error in errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{{ post_url }}">
        <p>
            <label for="import-area">CSV faili sisu:</label><textarea name="csv_import" id="import-area">{{ csv_import }}</textarea>
        </p>
        <p class="text-center">
            <button type="submit" class="btn btn-primary irregular-save-btn">Impordi</button>
        </p>
        <br>
    </form>
{% endblock %}