{% extends "base.twig" %}

{% block title %}Impordi{% endblock %}

{% block content %}
    <h2>Importimine</h2>
    <p>Eelvaade</p>

    {% if errors %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{{ post_url }}">

        {% for group_nr, nr_of_members in group_numbers %}
            <div class="input-group">
                <span class="input-group-text">Grupp&nbsp;<b>{{ group_nr }}</b>&nbsp;({{ nr_of_members }}): </span>
                <label for="group_{{ group_nr }}" class="sr-only">Grupp</label>
                <select class="form-select" id="group_{{ group_nr }}" name="group_{{ group_nr }}">
                    {% for group in groups %}
                        <option value="{{ group.id }}">
                            {{ group.group_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}

        <br>
        <table class="table table-hover table-sm">
            <thead class="table-dark">
            <tr>
                <th>Eesnimi</th>
                <th>Perekonnanimi</th>
                <th>E-mail</th>
                <th>Parool</th>
                <th>Kommentaar</th>
                <th>Grupp</th>
            </tr>
            </thead>
            <tbody>
            {% set counter = 1 %}
            {% for user in users %}
                <tr>
                    <td>
                        <label for="firstname_{{ counter }}" class="sr-only">Eesnimi</label>
                        <input name="firstname_{{ counter }}" id="firstname_{{ counter }}" type="text" value="{{ user.firstName }}">
                    </td>
                    <td>
                        <label for="lastname_{{ counter }}" class="sr-only">Perekonnanimi</label>
                        <input name="lastname_{{ counter }}" id="lastname_{{ counter }}" type="text" value="{{ user.lastName }}">
                    </td>
                    <td>
                        <label for="email_{{ counter }}" class="sr-only">E-mail</label>
                        <input name="email_{{ counter }}" id="email_{{ counter }}" type="email" value="{{ user.email }}">
                    </td>
                    <td class="text-center">
                        <input name="password_{{ counter }}" id="password_{{ counter }}" type="hidden" value="{{ user.pass }}">
                            {% if user.pass %}+{% else %}-{% endif %}
                    </td>
                    <td>
                        <label for="comment_{{ counter }}" class="sr-only">Kommentaar</label>
                        <input name="comment_{{ counter }}" id="comment_{{ counter }}" type="text" value="{{ user.comment }}">
                    </td>
                    <td>
                        <label for="usergroup_{{ counter }}" class="sr-only">Kasutaja grupp</label>
                        <select class="form-select" id="usergroup_{{ counter }}" name="usergroup_{{ counter }}">
                            {% for group_nr, nonsense in group_numbers %}
                                <option value="{{ group_nr }}"
                                        {% if user.group_nr == group_nr %}selected{% endif %}>
                                    Grupp {{ group_nr }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
            </tbody>
        </table>


        <p class="right">
            <button type="submit">Impordi</button>
        </p>
    </form>
{% endblock %}