{% extends "base.twig" %}

{% block title %}Impordi{% endblock %}

{% block content %}
    <h4>Tulemused</h4>

    {% for log in logs %}
        <span class="{{ log.class }}">{{ log.msg }}</span><br>
    {% endfor %}
{% endblock %}