{% extends "base.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
    <h2>Admin</h2>
    {% if links %}
        {% for link in adm_links %}
            <a href="{{ link.url }}">{{ link.name }}</a><br>
        {% endfor %}
    {% endif %}
{% endblock %}