{% extends "base.twig" %}

{% block title %}Lisa kasutaja{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col">
            {{ include(left_menu) }}
        </div>
        <div id="right-col" class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Uue kasutaja lisamine</h3>
                </div>
                <div class="p-4">
                    <form method="post" action="{{ post_url }}">
                        <div class="input-group mb-3 flex-nowrap">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <label>
                                <input type="text" name="first_name" class="form-control" placeholder="Eesnimi"
                                       {% if user.first_name %}value="{{ user.first_name }}{% endif %}">
                            </label>
                        </div>
                        <div class="input-group mb-3 flex-nowrap">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <label>
                                <input type="text" name="last_name" class="form-control" placeholder="Perenimi"
                                       {% if user.last_name %}value="{{ user.last_name }}"{% endif %}>
                            </label>
                        </div>
                        <div class="input-group mb-3 flex-nowrap">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-envelope text-white"></i>
                            </span>
                            <label>
                                <input type="email" name="email" class="form-control" placeholder="E-mail"
                                       {% if user.email %}value="{{ user.email }}"{% endif %}>
                            </label>
                        </div>
                        <div class="input-group mb-3 flex-nowrap">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-key-fill text-white"></i>
                            </span>
                            <label>
                                <input type="password" name="password" class="form-control" placeholder="Parool">
                            </label>
                        </div>
                        <div class="input-group mb-3 flex-nowrap">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <label>
                                <input type="text" name="comments" class="form-control" placeholder="Kommentaar"
                                       {% if user.comments %}value="{{ user.comments }}"{% endif %}>
                            </label>
                        </div>
                        <div class="input-group mb-3">
                            <span class="">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <label> Eriõigused
                                <select class="form-select" name="user_role">
                                    <option value="-1" {% if not user_role %}selected{% endif %}>Puuduvad</option>
                                    {% for role in roles %}
                                        <option value="{{ role.id }}" {% if user_role == role.id %}selected{% endif %}
                                                title="{{ role.comments }}">{{ role.role_name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="input-group mb-3 form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="locked" name="locked" value="1"
                                       {% if user.locked %}checked{% endif %}>&nbsp;Konto lukus
                            </label>
                        </div>
                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-primary" type="submit"><span></span>Lisa</button>
                        </div>
                    </form>
                    {% if errors %}
                        <br>
                        <div>
                            <span>{{ errors }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}