<form>
    <input type="hidden" id="users_api_url" value="{{ users_api_url }}">
    <input type="hidden" id="site-subdir" value="{{ site_subdir }}">
    <label for="q" class="sr-only">Otsing</label>
    <input class="user_search" type="text" id="q" name="q" placeholder="Otsi" onkeyup="searchUsers(this.value)">
    <div id="search_results"></div>
</form>
<a href="{{ create_url }}">Uus kasutaja</a>

<br><br>
Rollid:
{% for link in role_links %}
    <h6><a href="{{ link.url }}">{{ link.name }}</a> ({{ link.nr_of_users }})</h6>
{% endfor %}
<br>
Grupid:
{% for link in group_links %}
    <h6><a href="{{ link.url }}">{{ link.name }}</a> ({{ link.nr_of_eaters }})</h6>
{% endfor %}