{% extends "base.twig" %}

{% block title %}Kasutajad{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="left-col-wide">
            {{ include(left_menu) }}
        </div>
        <div id="right-col">
            <h4>Kasutajad</h4>
            <table class="table table-hover table-sm">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nimi</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Lukus</th>
                    <th scope="col">Kommentaar</th>
                    <th scope="col">Viimane sisselogimine</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% if users %}
                    {% set counter = 1 %}
                    {% for user in users %}
                        <tr>
                            <th scope="row"><input name="id" type="hidden" value="{{ user.id }}">{{ counter }}</th>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td class="text-center">{% if user.locked %}<span class="text-info">&#10004;&#xfe0e;</span>{% endif %}</td>
                            <td>{{ user.comments }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>{% if user.edit_url %}<a href="{{ user.edit_url }}">Muuda</a>{% endif %}</td>
                            <td>{% if user.delete_url %}<a href="javascript:confirmDelete('{{ user.delete_url }}')">Kustuta</a>{% endif %}</td>
                        </tr>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}