{% extends "base.twig" %}

{% block title %}{% if edit %}Muuda kööki{% else %}Uus köök{% endif %}{% endblock %}

{% block content %}
    <h2>Köögi {% if edit %}muutmine{% else %}lisamine{% endif %}</h2>
    {% if general_error %}
        <div class="error-msg">
            {{ general_error }}
        </div>
    {% endif %}
    <div class="p-4">
        <form method="post" action="{{ post_url }}">
            {% if edit %}
                <input type="hidden" id="id" name="id" value="{{ kitchen.id }}">
            {% endif %}
            <div class="mb-3">
                <label for="kitchen_name" class="form-label">Köögi nimi</label>
                <input type="text" class="form-control" name="kitchen_name"
                id="kitchen_name" {% if kitchen.kitchen_name %}value="{{ kitchen.kitchen_name }}"{% endif %}>
                {% if kitchen.kitchen_name_error %}
                    <div class="error-msg">
                        {{ kitchen.kitchen_name_error }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <fieldset class="form-group">
                    <legend class="col-form-label col-sm-2 pt-0">Köök suletud</legend>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="monday">E</label>
                            <input class="form-check-input" type="checkbox" name="days_off[]"
                                   id="monday" value="1" {% if 1 in kitchen.days_off %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="tuesday">T</label>
                            <input class="form-check-input" type="checkbox" id="tuesday" value="2" name="days_off[]"
                                   {% if 2 in kitchen.days_off %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="wednesday">K</label>
                            <input class="form-check-input" type="checkbox" id="wednesday" value="3" name="days_off[]"
                                   {% if 3 in kitchen.days_off %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="thursday">N</label>
                            <input class="form-check-input" type="checkbox" id="thursday" value="4" name="days_off[]"
                                   {% if 4 in kitchen.days_off %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="friday">R</label>
                            <input class="form-check-input" type="checkbox" id="friday" value="5" name="days_off[]"
                                   {% if 5 in kitchen.days_off %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="saturday">L</label>
                            <input class="form-check-input" type="checkbox" id="saturday" value="6" name="days_off[]"
                                   {% if 6 in kitchen.days_off %}checked{% endif %}>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="sunday">P</label>
                            <input class="form-check-input" type="checkbox" id="sunday" value="7" name="days_off[]"
                                   {% if 7 in kitchen.days_off %}checked{% endif %}>
                        </div>
                    </div>
                </fieldset>
                {% if kitchen.days_off_error %}
                    <div class="error-msg">
                        {{ kitchen.days_off_error }}
                    </div>
                {% endif %}
            </div>
            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-primary" type="submit">Salvesta</button>
            </div>
        </form>
    </div>
{% endblock %}