{% extends "base.twig" %}

{% block title %}Köögid{% endblock %}

{% block content %}
    <h2>Köögid</h2>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nimi</th>
            <th scope="col">Suletud</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if kitchens %}
            {% set counter = 1 %}
        {% for kitchen in kitchens %}
            <input type="hidden" value="{{ kitchen.id }}">
            <tr>
                <th scope="row">{{ counter }}</th>
                <td>{{ kitchen.kitchen_name }}</td>
                <td>{{ kitchen.days_off_str }}</td>
                <td><a href="{{ kitchen.edit_url }}">Muuda</a> </td>
            </tr>
            {% set counter = counter + 1 %}
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}