{% extends "base.twig" %}

{% block title %}Logi sisse{% endblock %}

{% block content %}
    <div class="" style="margin-top:20px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <a href="{{ local_url }}">Kohalik konto</a> <a href="{{ domain_url }}">Domeeni konto</a>
                <div class="text-center">
                    <h3 class="text-primary">Logi sisse </h3>{% if domain_login %}(domeeni kontoga){% endif %}
                </div>
                <div class="p-4">
                    <form method="post" action="{{ post_url }}">
                        {% if domain_login %}<input type="hidden" name="domain-login" value="{{ domain_login }}">{% endif %}
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <input type="email" name="my_email" class="form-control" autocomplete="email"
                                   {% if login_email %}value="{{ login_email }}"{% else %} placeholder="Email"{% endif %}>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <input type="password" name="passwd" class="form-control" placeholder="Parool">
                        </div>
                        {% if login_error %}
                        <div>{{ login_error }}{% endif %}</div>
                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-primary" type="submit"><span></span>Sisene</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}